.name-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: height .2s ease-in;
}

.active .name-container {
    height: 10%;
}

.name-inner-container {
    height: 50px;
    width: 300px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.active .name-inner-container {
    height: auto;
}

.name-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #32BBAA;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
    min-width: 70px;
    text-align: center;
    margin-right: 5px;
}

.name-input:hover {
    cursor: text;    
}

.name-input[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #AAA;
}

.active .name-input {
    border-bottom: none;
}

.active .save-user {
    visibility: hidden;
    display: none;
}
